@charset "UTF-8";
.catering, .catering-img {
  display: flex;
  flex-direction: column;
  vertical-align: middle; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", Arial, sans-serif; }

body, main, footer {
  background-color: #f8ede9; }

.footer-pasteleria {
  font-size: 0.8rem;
  align-items: center;
  text-align: center;
  margin-top: 0.5rem; }

.boton-personalizado {
  cursor: pointer; }

.texto-footer {
  margin-bottom: 1rem; }

.navbar {
  background-color: #e6b5a9;
  color: #686363; }
  .navbar .navbar-collapse {
    align-items: center;
    justify-content: space-between; }
    .navbar .navbar-collapse .nav-link:hover {
      color: antiquewhite; }

.catering, .catering-img {
  display: flex;
  flex-direction: column;
  vertical-align: middle; }

.banner {
  position: relative; }

.inicio-presentacion {
  background-image: url(../imagenes/bannermuf.png);
  height: 200px;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  min-height: auto;
  height: 300px; }
  .inicio-presentacion .contenedor-textos {
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #9e2634; }
    .inicio-presentacion .contenedor-textos .inicio-presentacion h1 {
      font-size: 4rem;
      margin-bottom: 10px;
      text-shadow: 4px 4px 4px rgba(243, 236, 236, 0.75);
      font-family: "Grand Hotel", cursive;
      color: #9e2634; }
      .inicio-presentacion .contenedor-textos .inicio-presentacion h1 .subtitulo-ppal {
        font-size: 1.5rem;
        margin-bottom: 30px; }
  .inicio-presentacion .boton {
    width: 100px;
    height: 30px;
    display: block;
    margin: 0 auto;
    padding: 5px;
    background-color: #9e2634;
    color: antiquewhite;
    font-weight: bold;
    text-decoration: none;
    border-radius: 10px; }
    .inicio-presentacion .boton .boton:hover {
      cursor: pointer;
      background-color: #e6b5a9;
      transition: color 1s;
      color: #9e2634; }

.grid-container {
  max-width: 950px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr;
  grid-template-areas: "pri seg" "ter cua" "qui sex" "sep sep";
  gap: 1.5rem; }
  .grid-container .primer-bloque {
    grid-area: pri;
    height: 25rem; }
    .grid-container .primer-bloque .primer-bloque p {
      text-align: justify;
      margin-right: 5px;
      padding: 5px; }
  .grid-container .segundo-bloque {
    grid-area: seg;
    height: 25rem;
    background-image: url(../imagenes/pastelera1.svg);
    background-size: cover;
    box-shadow: 3px 5px 5px #b0abab; }
  .grid-container .imgSobreNosotros {
    align-self: stretch; }
  .grid-container .tercer-bloque {
    grid-area: ter;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 5px 5px #b0abab; }
  .grid-container .tercer-bloque iframe {
    height: 100%;
    width: 100%; }
  .grid-container .cuarto-bloque {
    grid-area: cua;
    height: 14rem; }
    .grid-container .cuarto-bloque .cuarto-bloque .parrafo-ubicacion {
      align-content: center;
      text-align: center; }
  .grid-container .quinto-bloque {
    grid-area: qui;
    height: 16rem; }
  .grid-container .quinto-bloque .parrafo-video {
    align-content: center;
    text-align: center; }
  .grid-container .sexto-bloque {
    grid-area: sex;
    height: 13rem;
    box-shadow: 3px 5px 5px #b0abab; }
  .grid-container .sexto-bloque iframe {
    height: 100%;
    width: 100%; }
  .grid-container .septimo-bloque {
    grid-area: sep;
    background-color: #f8ede9;
    line-height: 1.3rem; }
    .grid-container .septimo-bloque .texto-footer {
      font-size: 0.8rem;
      align-items: center;
      text-align: center;
      margin-top: 2rem; }

main .subtitulo {
  font-family: "Grand Hotel", cursive;
  color: #9e2634;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 0; }

.bi {
  color: #e6b5a9; }

.bi:hover {
  cursor: pointer;
  color: #9e2634;
  transition: color 1s; }

main h2 {
  font-size: 1.8rem;
  color: #9e2634;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px; }

/*-------------media querys adaptables a responsive TABLET ------*/
@media screen and (max-width: 899px) {
  main {
    max-width: 600px;
    margin: 0 auto;
    background: #f8ede9; }
  /* --------------- banner ------------- */
  .inicio-presentacion {
    height: 250px; }
  .inicio-presentacion h1 {
    font-size: 3.3rem; }
  .subtitulo-ppal {
    font-size: 1.2rem;
    padding: 0rem 1.5rem; }
  main h2 {
    font-size: 1.8rem;
    margin-top: 0.9rem;
    margin-bottom: 1rem; }
    main h2 .subtitulo {
      font-size: 1.8rem;
      margin-bottom: -1rem; }
  main p {
    font-size: 1.2rem;
    margin: 0;
    margin-top: -1.5rem;
    text-align: justify;
    padding: 0.5rem; }
  main .grid-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; }
    main .grid-container main .primer-bloque {
      margin: 0;
      height: 25rem; }
    main .grid-container main .segundo-bloque {
      height: 20rem;
      background-image: url(../imagenes/pastelera2.png); }
    main .grid-container main .tercer-bloque {
      height: 15rem; }
    main .grid-container main .cuarto-bloque {
      margin: 0;
      height: 15rem; }
    main .grid-container main .quinto-bloque {
      margin: 0 0 0.7rem 0; }
    main .grid-container main .quinto-bloque .parrafo-video {
      height: 5rem;
      margin: 0;
      margin-top: 0; }
    main .grid-container main .septimo-bloque .texto-footer {
      font-size: 0.9rem;
      text-align: center; } }

/* -----------------------media querys adaptables a responsive MOBILE----------------------------*/
@media screen and (max-width: 767px) {
  .navbar-brand {
    display: none; } }

@media screen and (max-width: 499px) {
  main {
    max-width: 350px;
    margin: 0 auto;
    background: #f8ede9;
    /* -----------estilos de index ---------- */
    /* main .septimo-bloque {
  margin-top: 5px;
} */ }
    main .navbar-toggler-icon {
      width: 1em;
      height: 1em; }
    main .inicio-presentacion {
      height: 250px; }
      main .inicio-presentacion .inicio-presentacion h1 {
        font-size: 2rem; }
    main .subtitulo-ppal {
      font-size: 1rem;
      padding: 0rem 1.5rem; }
    main main .grid-container {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap; }
    main main h2 {
      font-size: 1.5rem;
      margin-top: 0.5rem;
      margin-bottom: 0; }
    main main .subtitulo {
      font-size: 1.3rem;
      margin: 0; }
    main main p {
      font-size: 0.8rem;
      margin: 0;
      margin-top: -2rem; }
    main main .primer-bloque {
      margin: 0;
      height: 18rem;
      margin-bottom: -4rem; }
    main main .segundo-bloque {
      height: 19rem;
      margin-bottom: 1rem; }
    main main .tercer-bloque {
      height: 15rem; }
    main main .cuarto-bloque {
      margin: 0;
      height: 9rem; }
    main main .cuarto-bloque .parrafo-ubicacion {
      height: 5rem;
      margin: 0;
      margin-top: -2rem;
      margin-bottom: -4rem; }
    main main .cuarto-bloque {
      margin-bottom: -2rem; }
    main main .quinto-bloque {
      margin: 0;
      margin-bottom: -1rem;
      height: 10rem; }
    main main .quinto-bloque .parrafo-video {
      height: 5rem;
      margin: 0;
      margin-top: 0; }
    main main .septimo-bloque .texto-footer {
      font-size: 0.5rem;
      margin-top: 0; } }

.catering, .catering-img {
  display: flex;
  flex-direction: column;
  vertical-align: middle; }

main .titulo-principal-productos {
  background: url(../imagenes/banner__productos.png);
  height: 200px;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  min-height: auto; }
  main .titulo-principal-productos h1 {
    font-size: 4rem;
    margin-bottom: 10px;
    text-shadow: 4px 4px 4px rgba(243, 236, 236, 0.75);
    font-family: "Grand Hotel", cursive;
    color: #9e2634; }

h2 {
  font-size: 1.8rem;
  color: #9e2634;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px; }

.productos-textos {
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #9e2634; }

.lista-productos {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  font-size: 1.2rem;
  color: #686363; }
  .lista-productos li::before {
    content: "☆"; }

/*-------------media querys adaptables a responsive TABLET ------*/
@media screen and (max-width: 899px) {
  main {
    max-width: 600px;
    margin: 0 auto;
    background: #f8ede9; }
  .footer-pasteleria {
    font-size: 0.9rem; }
  main .titulo-principal-productos {
    width: 100%; } }

/*-------------media querys adaptables a responsive MOBILE ------*/
@media screen and (max-width: 767px) {
  .navbar-brand {
    display: none; } }

@media screen and (max-width: 499px) {
  main {
    max-width: 350px;
    margin: 0 auto;
    background: #f8ede9; }
  .navbar-toggler-icon {
    width: 1em;
    height: 1em; }
  main .productos-textos {
    font-size: 3rem; }
  main .lista-productos {
    display: flex;
    align-content: center;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    font-size: 0.8rem;
    line-height: 0.5rem;
    margin: 1rem 0 0 0; }
  main .bloque-productos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto; }
  .img-productos {
    height: 6rem;
    width: 6rem; } }

.catering, .catering-img {
  display: flex;
  flex-direction: column;
  vertical-align: middle; }

.titulo-principal-catering {
  background: url(../imagenes/banner2.png);
  height: 200px;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  min-height: auto; }
  .titulo-principal-catering h1 {
    font-size: 4rem;
    margin-bottom: 10px;
    text-shadow: 4px 4px 4px rgba(243, 236, 236, 0.75);
    font-family: "Grand Hotel", cursive;
    color: #9e2634; }

.catering-textos {
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #9e2634; }

.titulo-seccion {
  margin-top: 0;
  margin-bottom: 1rem; }

.catering .parrafo-catering {
  text-align: center;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1rem;
  color: #686363;
  line-height: 125%;
  text-align: center; }

.catering-img {
  width: 30vw;
  box-shadow: 3px 5px 5px #b0abab; }

.item-catering {
  /*aplica a todas las listas de la sección catering*/
  color: #686363;
  line-height: 135%; }

div ul li {
  list-style: none;
  position: relative;
  margin: 8px; }

main .bloque-lunch,
.bloque-pasteleria-dulce,
.bloque-sandwiches {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  max-width: 100vw;
  margin: 1rem; }

/*-------------media querys adaptables a responsive TABLET ------*/
@media screen and (max-width: 899px) {
  main {
    max-width: 600px;
    margin: 0 auto;
    background: #f8ede9; }
  .parrafo-catering {
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 1rem;
    color: #686363;
    line-height: 125%;
    text-align: center; } }

/*-------------media querys adaptables a responsive MOBILE ------*/
@media screen and (max-width: 767px) {
  .navbar-brand {
    display: none; } }

@media screen and (max-width: 499px) {
  main {
    max-width: 350px;
    margin: 0 auto;
    background: #f8ede9; }
  .navbar-toggler-icon {
    width: 1em;
    height: 1em; } }

.catering, .catering-img {
  display: flex;
  flex-direction: column;
  vertical-align: middle; }

.titulo-principal-promociones {
  background: url(../imagenes/alf.png);
  height: 200px;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  min-height: auto; }
  .titulo-principal-promociones h1 {
    font-size: 4rem;
    margin-bottom: 10px;
    text-shadow: 4px 4px 4px rgba(243, 236, 236, 0.75);
    font-family: "Grand Hotel", cursive;
    color: #9e2634; }

.promociones-textos {
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #9e2634; }

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
  column-gap: 1rem;
  row-gap: 1rem; }

.card {
  box-shadow: 3px 5px 5px #b0abab; }
  .card .card-title {
    font-size: 1.8rem;
    color: #9e2634;
    text-align: center; }

.card-text {
  text-align: center; }

.btn {
  background-color: #9e2634;
  border-color: #f8ede9;
  color: antiquewhite; }

.btn:hover {
  cursor: pointer;
  background-color: #f8ede9;
  transition: color 1.4s;
  color: #9e2634; }

/*-------------media querys adaptables a responsive TABLET ------*/
@media screen and (max-width: 899px) {
  main {
    max-width: 600px;
    margin: 0 auto;
    background: #f8ede9; }
  main h1 {
    font-size: 4rem; }
  main .card-body .card-title {
    font-size: 2rem;
    padding: 0;
    margin-top: 0; }
  main .card-body .card-text {
    font-size: 1.2rem;
    padding: 0;
    margin: 0;
    margin-bottom: 0.3rem; } }

@media screen and (max-width: 767px) {
  .navbar-brand {
    display: none; } }

@media screen and (max-width: 499px) {
  main {
    max-width: 350px;
    margin: 0 auto;
    background: #f8ede9; }
  .navbar-toggler-icon {
    width: 1em;
    height: 1em; } }

.catering, .catering-img {
  display: flex;
  flex-direction: column;
  vertical-align: middle; }

.titulo-principal-contacto {
  background: url(../imagenes/pastelera1.svg);
  height: 200px;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  min-height: auto; }

h1 {
  font-size: 4rem;
  margin-bottom: 10px;
  text-shadow: 4px 4px 4px rgba(243, 236, 236, 0.75);
  font-family: "Grand Hotel", cursive;
  color: #9e2634; }

.subtitulo-pal {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #9e2634; }

main .formulario {
  line-height: 2;
  margin: 0 auto;
  min-width: 300px;
  max-width: 500px;
  color: #686363; }
  main .formulario fieldset {
    border: none;
    padding: 1.8rem 1rem;
    border-bottom: 3px solid #e6b5a9; }

main .formulario input,
textarea {
  width: 100%;
  min-height: 2em;
  color: #686363;
  padding: 0.5rem; }

/*-------------media querys adaptables a responsive TABLET ------*/
@media screen and (max-width: 899px) {
  main {
    max-width: 600px;
    margin: 0 auto;
    background: #f8ede9; }
  .titulo-principal-titulo {
    font-size: 4rem; }
  .subtitulo-pal {
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #9e2634; }
  .formulario {
    padding: 2rem; } }

/*-------------media querys adaptables a responsive mobile ------*/
@media screen and (max-width: 767px) {
  .navbar-brand {
    display: none; } }

@media screen and (max-width: 499px) {
  main {
    max-width: 350px;
    margin: 0 auto;
    background: #f8ede9; }
  .navbar-toggler-icon {
    width: 1em;
    height: 1em; } }
