@import "..//utilidades/extend";
@import "..//utilidades/variables";
@import "..//utilidades/mixin";

.titulo-principal-promociones{
    background: url(../imagenes/alf.png);
    @include estilos-banners;
    h1 {
        @include estilos-h1-banners;
    }
}
  
  .promociones-textos {
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $color-titulos
  }
  
 
  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;
    column-gap: 1rem;
    row-gap: 1rem;
  }
  
  .card{
   box-shadow: $box-shadow;
    .card-title {
    font-size: $tamano-h2;
    color: $color-titulos;
    text-align: center;
  }
}
  
  .card-text {
    text-align: center;
  }
  
  .btn {
    background-color: $color-titulos;
    border-color: $color-principal;
    color: $color-letra-botones;
}
  
 .btn:hover{
    cursor: pointer;
    background-color: $color-principal;
    transition: color 1.4s;
    color: $color-titulos;
    }

    /*-------------media querys adaptables a responsive TABLET ------*/  
  @media screen and (max-width: 899px) {
    main {
      max-width: 600px;
      margin: 0 auto;
      background: #f8ede9;
    }

    main h1 {
      font-size: 4rem;
    }
  
    main .card-body .card-title {
      font-size: 2rem;
      padding: 0;
      margin-top: 0;
    }
  
    main .card-body .card-text {
      font-size: 1.2rem;
      padding: 0;
      margin: 0;
      margin-bottom: 0.3rem;
    }
  }

  
@media screen and (max-width: 767px) {
  .navbar-brand {
    display: none;
  }
}

@media screen and (max-width: 499px) {
  main {
    max-width: 350px;
    margin: 0 auto;
    background: #f8ede9;
  }

  .navbar-toggler-icon {
    width: 1em;
    height: 1em;
  }

}