// paleta de colores

$color-principal: #f8ede9;
$color-contraste: #e6b5a9;
$color-titulos: #9e2634;
$color-parrafos: #686363;
$color-letra-botones: antiquewhite;


// Sombreados: Titulos e imagenes
$text-shadow: 4px 4px 4px rgba(243, 236, 236, 0.75);
$box-shadow: 3px 5px 5px rgb(176, 171, 171);

// Tipografias
$font-family: "Trebuchet MS", Arial, sans-serif;
$tipografia-h1: "Grand Hotel", cursive;
$tipografia-subtitulos: "Grand Hotel", cursive;
$tipografia-h2: "Trebuchet MS", Arial, sans-serif;

// Tamaño de letras:
$tamano-pequeno: 1rem;
$tamano-normal: 1.3rem;
$tamano-grande: 1.5rem;
$tamano-h2: 2rem;
$tamano-footer: 0.8rem;
$tamano-h1: 4rem;
$tamano-h2: 1.8rem;





